{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'minigen/css/search.css'%}  "> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" > 
   

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title> Search </title>
</head>

<body>

<div class="container-fluid">
    <div class="container">
        <div class="menu">
            <div class="mini-home">
                <a href="{% url 'home' %}" class="button-class">MiniWorld</a>
            </div>
            <div class="menu-home">
                <a href="{% url 'home' %}" class="icon-button" aria-label="Home">
                    <i class="fa-solid fa-house icon"></i>
                </a>
            </div>
            <div class="menu-home">
                <a href="{% url 'postmcq' %}" class="icon-button" aria-label="Post MCQ">
                    <i class="fa-solid fa-square-plus"></i>
                </a>
            </div>
            <div class="menu-home">
                <a href="{% url 'notification' %}" class="icon-button" aria-label="Notifications">
                    <i class="fa-solid fa-bell"></i>
                </a>
            </div>
            <div class="menu-home">
                <a href="{% url 'search' %}" class="icon-button" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            <div class="menu-home">
                <a href="{% url 'profile' %}" class="icon-button" aria-label="Profile">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="search">
        <div class="container-fluid">
            <div class="container">
                <div class="question">
                    <form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        <div class="search-question">
                            <input type="text" id="question" name="question" required>
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





<div class="centre">
        
    <div class="centre-left">
        
        <h1> Searched Profile </h1><hr> 
        
        
        <div class="container-fluid">
        {% if result1 %}
            {% for profile in result1 %}
                <div class="container">
                    <div class="centre-left-top">
                        <div class="centre-left-top-profile-image">
                            {% if profile.image %}
                                <img src="{{ profile.image.url }}" alt="Profile Picture">
                            {% else %}
                                <p>No profile picture available</p>
                            {% endif %}
                        </div>

                        <div class="centre-left-top-profile-info">
                            <a href="{% url 'profile_view' profile.user.username %}">{{ profile.user.username }}</a>
                            <p>{{ profile.country }} &#x2022; {{ profile.acc_type }} &#x2022; {{ profile.followers.count }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No search results found.</p>
        {% endif %}
    </div>
</div>
 
   
    
<div class="centre-middle">
    {% for post in form_data %}
    <div class="container-fluid">
        <div class="container">
            <div class="centre-middle-top">
                {% with profile=post.user.profileinfo %}
                <div class="centre-middle-top-profile-image">
                    {% if profile.image %}
                        <img src="{{ profile.image.url }}" alt="Profile Picture">
                    {% else %}
                        <p>No profile picture available</p>
                    {% endif %}
                </div>

                <div class="centre-middle-top-profile-info">
                    <a href="{% url 'profile_view' post.user.username %}">{{ post.user.username }}</a>
                  
                    <p>{{ profile.country }} &#x2022; {{ profile.acc_type }} &#x2022; 1.5k followers</p>
                </div>
                {% endwith %}
            </div>

            <div class="container">
           

                <div class="centre-middle-top-post">
                    <div class="centre-middle-top-question">
                        <p>{{ post.question }}</p>    
                        <span> {{ post.reference }} </span>
                        
                    </div>

                    <div class="centre-middle-top-mcq">
                        <form class="mcq-form" method="post" action="{% url 'home' %}" data-post-id="{{ post.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="mcq_post_id" value="{{ post.id }}">
                            <div>
                                <label><input type="radio" name="option" value="option1"> {{ post.option1 }}</label>
                            </div>
                            <div>
                                <label><input type="radio" name="option" value="option2"> {{ post.option2 }}</label>
                            </div>
                            <div>
                                <label><input type="radio" name="option" value="option3"> {{ post.option3 }}</label>
                            </div>
                            <div>
                                <label><input type="radio" name="option" value="option4"> {{ post.option4 }}</label>
                            </div>
                            <button type="submit">Submit</button>
                        </form>


                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="centre-middle-top-infos">
            <div class="centre-middle-top-user-follows">
                <div class="centre-middle-top-user-follow-infos">{{ post.count_correct_answers }} | <i class="fa-solid fa-check" style="color: #74C0FC;"></i></div>
                <div class="centre-middle-top-user-follow-infos">{{ post.count_incorrect_answers }} | <i class="fa-solid fa-xmark" style="color: #74C0FC;"></i></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

  
    
            
    
    <div class="centre-right">

       <div class="container-fluid">
            
            <div class="container">
                <div class="centre-right-top">
                    <h1> Related Profile </h1>
                    <hr> 
                </div>
            </div>
            
       </div>

        
       
        
       <div class="container-fluid">
         {% for user in users %}    
            <div class="container">
            {% with user.profileinfo as profile %}
                <div class="centre-right-middle">
                    
                    <div class="centre-right-middle-profile-image">
                       
                            {% if profile.image %}
                                <img src="{{ profile.image.url }}" alt="Profile Picture">
                            {% else %}
                                <p>No profile picture available</p>
                            {% endif %}
                    </div>
                        
                    <div class="centre-right-middle-profile-info">
                        <a href="{% url 'profile_view' user.username %}">{{ user.username }}</a>
                       

                        <p> {{ profile.country }}&#x2022; {{ profile.acc_type }} &#x2022; {{ user.profileinfo.followers.count }} </p>
                    </div>
                </div>

                 {% endwith %}
                
            </div>
        {% endfor %}     
        </div>  
         
            
       </div>
    </div>
    
</div>
 
<script>
    $(document).ready(function() {
        $('.mcq-form').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            var form = $(this);
            var url = form.attr('action');
            var formData = form.serialize();

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function(response) {
                    // Handle success - update the page dynamically
                    $('.messages').remove(); // Remove old messages
                    form.before('<div class="messages">' + response.message + '</div>');
                },
                error: function(response) {
                    // Handle error
                    console.log('Error:', response);
                }
            });
        });
    });
</script> 


</body>
</html>