* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    width: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    margin-left: 2%;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: #e4eaf7;
    z-index: 1000;
    border-radius: 10px;
}

.mini-home {
    flex: 1;
    text-align: center;
}

.mini-home a {
    width: 100%;
    display: inline-block;
    
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.menu-home {
    flex: 1;
    text-align: center;
}

.menu-home a {
    width: 50%;
    display: inline-block;
    
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #1378DA;
    font-size: 30px;
}

.menu-home a:hover,
.mini-home a:hover {
    background-color: #1378DA;
    color: white;
}

.menu-home a i {
    font-size: 30px;
    margin-top: 2px;
}

.centre {
    display: flex;
    justify-content: space-between;
    margin-top: 100px; /* Adjust this margin as needed */
}

.centre-left,
.centre-middle {
    flex: 1;
}

.centre-left,
.centre-middle {
    padding: 20px;
}
.centre-left {
    flex: 30%;
}

.centre-middle {
    flex: 70%;
}

.centre-left-top,
.centre-middle-top {
    margin-bottom: 20px;
}

.centre-left-top h1 {
    font-size: 24px;
    color: #333;
}

.centre-middle-top p {
    font-size: 18px;
    color: #666;
}

.centre-middle-body p {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}

.bottom {
    background-color: #f8f8f8;
    padding: 20px 0;
    margin-top: 5px;
}

.bottom-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottom-content a {
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 16px;
}

.bottom-content a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .container-fluid {
        width: 90%;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .container {
        width: 100%;
    }
    
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 96%;
        margin-left: 2%;
        margin-top: 0%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0;
        background-color: #e4eaf7;
        z-index: 1000;
        border-radius: 10px;
    }
    
    .mini-home {
        flex: 1;
        text-align: center;
    }
    
    .mini-home a {
        width: 100%;
        display: inline-block;
        
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: black;
        font-size: 25px;
        text-decoration: none;
    }
    
    .menu-home {
        flex: 1;
        text-align: center;
    }
    
    .menu-home a {
        width: 80%;
        display: inline-block;
        
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #1378DA;
        font-size: 25px;
    }
    
    .menu-home a:hover,
    .mini-home a:hover {
        background-color: #1378DA;
        color: white;
    }
    
    .menu-home a i {
        font-size: 30px;
        margin-top: 2px;
    }

    .centre {
        flex-direction: column;
    }

    .centre-left,
    .centre-middle {
        width: 100%;
    }

    .centre-left,
    .centre-middle {
        padding: 20px;
    }

    .centre-left {
        order: 1; /* Change the order */
    }

    .centre-middle {
        order: 2; /* Change the order */
    }
}