{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'miniaccounts/css/register.css'%}  "> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" > 
   
    <title> {% block title %} Register {% endblock %} </title>
</head>

<body>

<div class="container-fluid">
    <div class="container">
        <div class="menu">
            <div class="mini-home">
                <a href="{% url 'home' %}" class="button-class">MiniWorld</a>
            </div>
            <div class="menu-home">
                <a href="{% url 'home' %}" class="icon-button" aria-label="Home">
                    <i class="fa-solid fa-house icon"></i>
                </a>
            </div>
            <div class="menu-home">
                <a href="{% url 'postmcq' %}" class="icon-button" aria-label="Post MCQ">
                    <i class="fa-solid fa-square-plus"></i>
                </a>
            </div>
            <div class="menu-home">
                <a href="{% url 'notification' %}" class="icon-button" aria-label="Notifications">
                    <i class="fa-solid fa-bell"></i>
                </a>
            </div>
            <div class="menu-home">
                <a href="{% url 'search' %}" class="icon-button" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            <div class="menu-home">
                <a href="{% url 'profile' %}" class="icon-button" aria-label="Profile">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
        </div>
    </div>
</div>



        
<div class="centre">
    <div class="centre-left">
    <div class="containter-fluid">
            
            <div class="container">
                <div class="centre-right-top">
                    <h1> Top Profiles </h1>
                   
                </div>
            </div>
            
       </div>
    <br>
       <div class="container-fluid">
            <div class="container">
                <div class="centre-right-middle">
                    <div class="centre-right-middle-profile-image">
                        <img src="{% static 'minigen/images/teacher1.webp'%} ">
                    </div>
                        
                    <div class="centre-right-middle-profile-info">
                        <a href="#"> Mohammad Rubel </a>
                        <button type="submit"> Follow </button>
                        <p> Bangladesh &#x2022; Person &#x2022; 1.5k </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="centre-right-middle">
                    <div class="centre-right-middle-profile-image">
                        <img src="{% static 'minigen/images/teacher3.webp'%}">
                    </div>
                        
                    <div class="centre-right-middle-profile-info">
                        <a href="#"> Mohammad Arman Hossain </a>
                        <button type="submit"> Follow </button>
                        <p> Bangladesh &#x2022; Person &#x2022; 1.9k </p>
                    </div>
                </div>
            </div>

             <div class="container">
                <div class="centre-right-middle">
                    <div class="centre-right-middle-profile-image">
                        <img src="{% static 'minigen/images/course1.webp'%} ">
                    </div>
                        
                    <div class="centre-right-middle-profile-info">
                        <a href="#"> General Mathematics </a>
                        <button type="submit"> Follow </button>
                        <p> Bangladesh &#x2022; Book &#x2022; 1.9k </p>
                    </div>
                </div>
            </div>

             <div class="container">
                <div class="centre-right-middle">
                    <div class="centre-right-middle-profile-image">
                        <img src="{% static 'minigen/images/course2.webp'%} ">
                    </div>
                        
                    <div class="centre-right-middle-profile-info">
                        <a href="#"> General Mathematics </a>
                        <button type="submit"> Follow </button>
                        <p> Bangladesh &#x2022; Book &#x2022; 1.9k </p>
                    </div>
                </div>
            </div>
            
       </div>    
    </div>
 
    
    <div class="centre-middle">

        <div class="container-fluid">

            <div class="container">
                <div class="centre-middle-top">
                    
                
                    <button type="submit" onclick="location.href='/' "> Sign In </button>
                    <br> <br> 
                    <h1>  Create Your Account </h1>
                    
                     {% if messages %}
            <p class="message {% for message in messages %} {{ message.tags }} {% endfor %}">
                {% for message in messages %}
                    {{ message }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
                </div>
            </div>

            <div class="container">
                <div class="centre-middle-middle">
                    <br>
                    <form action="#" method="post">
                    {% csrf_token %}

                        <div class="signin-form">
                            <label for="username">  Username: </label> <br>
                            <input type="text" id="username" name="username" required> <br>
                        </div>
                         <div class="signin-form">
                            <label for="email">  Email: </label> <br>
                            <input type="text" id="email" name="email" required> <br>
                        </div>
                        
                        <div class="signin-form">
                            <label for="password">  Password: </label> <br>
                            <input type="password" id="password" name="password" required> <br>
                        </div>
                        <div class="signin-form">
                            <label for="password2"> Confirm Password: </label> <br>
                            <input type="password" id="password2" name="password2" required> <br>
                        </div>
                        
                        <div class="signin-form">
                            <button type="submit"> Sign Up </button>
                        </div> 
                    </form>
                    
                </div>
            </div>

        </div>

    </div>        
    
    
</div>
 
<div class="bottom">
    <div class="container-fluid">
        <div class="container">
                <div class="bottom-content">  
                   <a href="{% url 'privacy_policy' %}"> Privacy Policy </a>
                    <a href="{% url 'terms_and_conditions' %}"> Terms & Conditions </a>
                    <a href="{% url 'cookies'%}"> Cookies </a>
                    <a href="{% url 'faq'%}"> FAQ </a>
                    <a href="{% url 'developers'%}"> Developers </a>
                    <a href="{% url 'about'%}"> About </a>
                </div>   
        </div>
    </div>
</div>

</body>
</html>